{% extends "layouts/default.twig" %}

{% block title %}Login page{% endblock %}

{% block namepage %}Login page{% endblock %}

{% block content %}
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-2">Sign in account</h2>

                <form action="/user/authorization" method="post">

                    {% for key, errors in session.data.errorMessage %}
                        {% for error in errors %}
                            <ul>
                                <li>{{ key }}: {{ error }}</li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                    {{ session.data.user.errorMessage }}

                    <div class="form-outline mb-2">
                        <input type="email" name="formEmail" id="formEmail" class="form-control form-control-lg"/>
                        <label class="form-label" for="formEmail">Email</label>
                    </div>

                    <div class="form-outline mb-2">
                        <input type="password" name="formPassword" id="formPassword"
                               class="form-control form-control-lg"/>
                        <label class="form-label" for="formPassword">Password</label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" id="validate" disabled
                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Sign in
                        </button>
                    </div>

                    <p class="text-center text-muted mt-3 mb-0">Dont have an account?
                        <a href="/user/registration" class="fw-bold text-body"><u>Registration here</u></a>
                    </p>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
