AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /
RewriteRule ^locations(/.*)?$ index.php [L, NC]
#RewriteRule !index\.php$ index.php [L]