services:

    app:
        build:
#            args:
#                user: User
#                uid: User_id
            context: ./
            dockerfile: Dockerfile
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www

    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - '8000:80'
        volumes:
            - ./:/var/www
            - ./docker-compose/nginx:/etc/nginx/conf.d/

    db:
        image: mysql
        # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
        # (this is just an example, not intended to be a production configuration)
#        command: --default-authentication-plugin=mysql_native_password
        restart: always
        ports:
            - '4306:3306'
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
#        volumes:
#            - ./docker-compose/mysql:/docker-entrypoint-initdb.d

    localstack:
        container_name: "${LOCALSTACK_DOCKER_NAME-localstack_main}"
        image: localstack/localstack
        ports:
            - "127.0.0.1:4566:4566"            # LocalStack Gateway
            - "127.0.0.1:4510-4559:4510-4559"  # external services port range
            - "127.0.0.1:53:53"                # DNS config (only required for Pro)
            - "127.0.0.1:53:53/udp"            # DNS config (only required for Pro)
            - "127.0.0.1:443:443"              # LocalStack HTTPS Gateway (only required for Pro)
        environment:
            - DEBUG=${DEBUG-}
            - PERSISTENCE=${PERSISTENCE-}
            - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR-}
            - LOCALSTACK_API_KEY=${LOCALSTACK_API_KEY-}  # only required for Pro
            - DOCKER_HOST=unix:///var/run/docker.sock
        volumes:
            - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
            - "/var/run/docker.sock:/var/run/docker.sock"

networks:
    shop:
        driver: bridge
