body {
    font-size: 14px;
    padding: 15px 20px;
    height: 100%;
}

table {
    table-layout: fixed;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 20px 0;
}

table th {
    vertical-align: middle;
    color: #777777;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px 5px;
    background: #dedede;
    text-align: center;
    border: 1px solid #c1c1c1;
}

table td {
    padding: 8px 5px;
    font-size: 12px;
    color: #000;
    border: 1px solid #e9e9e9;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
}

table tbody tr:nth-child(odd) td {
    background: #f4f4f4;
}

.displayNone {
    display: none;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

.errorMessage {
    background: red;
}

.my-0 {
    margin-right: auto !important;
}
