{% extends "layouts/default.twig" %}

{% block title %}Index page{% endblock %}

{% block namepage %}Main page{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col text-center">
            <H3>Welcome back, {{ session.name }}</H3>
        </div>
    </div>
{% endblock %}
